.entryForm {
    display: flex;
    flex-direction: column;
}

#noteForm--date {
    width: 18rem;
}

#noteForm--title,
#noteForm--name,
#noteForm--mood,
#noteForm--saveNote,
#noteForm--instructor {
    width: 19.3rem;
    height: 2rem;
}

#noteForm--notes {
    width: 35rem;
    height: 10rem;
}

.note {
    padding-bottom: 2rem;
}